
    <div class="flex">
        <h3>Projet WEB</h3>
        <h1 *ngIf="currentRoute=='/' || currentRoute=='/home'">Home</h1>
        <h1 *ngIf="currentRoute=='/product/shop'">Boutique</h1>
        <h1 *ngIf="currentRoute=='/product/cart'">Mon panier</h1>
        <h1 *ngIf="currentRoute=='/address/addresses'">Mes adresses</h1>
        <h1 *ngIf="currentRoute=='/address/signin'">Connexion</h1>
        <h1 *ngIf="currentRoute=='/user/signup'">Inscription</h1>
        <h1 *ngIf="currentRoute=='/user/signin'">Connexion</h1>
    </div>   
